html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "about about about about "
                         "services services services services"
                         "projects projects projects projects"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* HEADER*/
.header{
    background-color: #ffffff;
   grid-area: header;
}
.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;

}

.header h1{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.3s;
}
.header a:hover h1{
    color: coral;
}

/* HERO */
.hero{
    grid-area: hero;
    height: 89vh;
    background: url(../img/lemons.jpg) no-repeat center center/cover;
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero h2{
    font-weight: 500;
text-transform: uppercase;
font-size: 4rem;
}
.hero:after{
    content: url(../img/seta_preta.png);
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrouw 1.5s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrouw{
    0%{ -webkit-transform: translateY(0); opacity: 0.4; 
        /* transform: translateY(0); opacity: 0.4; */
    }
    100%{ -webkit-transform: translateY(0.4em); opacity: 0.9; 
        /* transform: translateY(20px); opacity: 0.9;*/
       
    }
}
@media(max-width: 425px){
    .hero {
       height: 60vh;
    }
    .hero h2{
        font-size: 2.5rem;
    }
}

/* ABOUT */
.about{
    background-color: lightgreen;
    grid-area: about;
}   
/* SERVICES */
.services{
    background-color: rgb(39, 232, 249);
    grid-area: services;
}
/* PROJECTS */
.projects{
    background-color: rgb(101, 3, 98);
    grid-area: projects;
}
/* FOOTER */
.footer{
    background-color: rgb(3, 74, 38);
    grid-area: footer;
}